<!DOCTYPE html>
<html lang="ko" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Model Test 3</title>
    <link rel="stylesheet" href="../css/style.css" >
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
    <script>
    window.onload = function() {
      new Vue({
        el: '#app',
        data: {
          myCheck: false
        }
      })
    }
    </script>
  </head>
  <body>
    <h1>Checkbox On/Off 상태 출력</h1>
    <div id="app">
      <label>
        <input type="checkbox" v-model="myCheck">
        체크박스의 상태는 {{ myCheck }}
      </label>
      <p v-if="myCheck">체크박스는 ON</p>
    </div>
  </body>
</html>
